@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

/* Global Styles */
:root {
  --primary-color: #8c477e;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #238636;
  --background-color: #0d1117;
  --link-color: #58a6ff;
  --border-color: #6e7681;
  --form-color: #6e7681;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--form-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
  color: var(--link-color);
}

ul {
  list-style: none;
}

.error {
  color: var(--danger-color);
  border-radius: 10px;
}

.success {
  color: var(--success-color);
  border-radius: 10px;
}

/* Utilities */
.main-window {
  margin: auto;
  overflow: hidden;
  padding: 0 2%;
}

/* Spinner */
.loader {
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  animation: rotate 1500ms infinite ease;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  margin: 0 0 0.5rem 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 3px var(--primary-color);
  opacity: 0.9;
  line-height: 1.2;
  box-shadow: 10px 5px 15px 5px rgba(177, 177, 177, 0.3);
}

.navbar img {
  height: 80px;
  width: 80px;
}

.navbar h1 {
  display: flex;
  font-size: 2.35rem;
  font-weight: 600;
}

.navbar ul {
  display: flex;
}

.navbar .sub-heading {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: var(--primary-color);
}

.navbar a {
  color: var(--link-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
  margin-right: 0.75rem;
  font-size: 1.05rem;
}

.navbar a:hover {
  opacity: 0.9;
  color: var(--link-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Login */
.login-main {
  padding: 20px 20px 0px 20px;
  max-width: 400px;
  height: 400px;
  margin: auto;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  margin-top: 10vh;
}

.login-img {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.login-header {
  font-weight: 300;
  font-size: 2.1rem;
  color: var(--border-color);
}

.login-instruction {
  color: var(--link-color);
  font-size: small;
}

/* Forms */
.form-container {
  max-width: 500px;
  margin: 10vh auto;
  overflow: hidden;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
  border: 2px solid var(--border-color);
  color: var(--form-color);
  border-radius: 20px;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group label {
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
  font-size: 1.2rem;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-group select,
.form-group input[type = "text"]
 {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 0.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Chivo', sans-serif;
}

input {
  margin: 1.2rem 0;
}

input:focus {
  outline: none;
}

label {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type = "submit"],
button {
  font: inherit;
}

/* Google OAuth */
.center {
  margin-left: auto;
  margin-right: auto;
}

.abcRioButtonContentWrapper {
  background-color: var(--success-color);
}

.google-form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 1rem 1rem 1.2rem 1rem;
  width: 100%;
  color: var(--form-color);
  border-radius: 20px;
}

/* Forbidden */
.forbidden-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5vh;
}

.forbidden-img {
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem;
}

.forbidden-main h2 {
  color: var(--danger-color);
  font-weight: 300;
}

/* About */
.about {
  margin: 6vh 0 4vh 0;
}

.about-info {
  color: white;
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.about-info span {
  font-size: 1.3rem;
}

.credits-info {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: var(--primary-color);
}

.about-main {
  padding: 20px 20px 0px 20px;
  width: 400px;
  min-height: 380px;
  margin: 10px 10px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

.about-main img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  margin: 0.7rem 0;
}

.about-main h3 {
  color: var(--light-color);
}

.about-main h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

.about-main span {
  color: var(--primary-color);
  font-weight: 500;
}

.about-instruction {
  color: var(--link-color);
  font-size: 1rem;
}

/* Add Event */
.add-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

[readonly] {
  cursor: default;
  background-color: #ececec;
  font-style: italic;
}

.add-event span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Event Button */
.event-btn {
  display: inline-block;
  background: var(--background-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  margin: 0.75rem 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 20px;
}

.event-btn:hover {
  background: var(--light-color);
}

.close {
  float: right;
  padding: 2px 5px;
  color: #000;
  cursor: pointer;
}

/* Filters */
.filters-container{
  background-color: var(--background-color);
  color: var(--primary-color);
  box-shadow: 4px 4px 5px rgb(255 255 255 / 20%);
  width: 800px;
  margin: auto;
  margin-bottom: 5vh;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.search-container {
  margin: 1rem 1rem 0 2rem;
  overflow: hidden;
  padding: 0rem 1rem;
}

.search-container input[type = "text"] {
  margin: 0rem 1rem 0 0;
  width: 100%;
  height: 2.2rem;
  background-color: var(--background-color);
  color: var(--light-color);
  box-shadow: 2px 2px 2.5px rgb(255 255 255 / 20%);
  font-size: 1.2rem;
  padding-left: 1rem;
  font-family: "Chivo", sans-serif;
}

.filter-container {
  margin: 1rem 1rem 0 0;
  overflow: hidden;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.filter-container label {
  font-size: 1rem;
  font-weight: 300;
}

.filter-container input, select{
  padding: 1px !important;
  font-size: medium !important;
  color: #535353 !important;
}

.filter-container input[type = "checkbox"] {
  margin: 0rem 1rem 0 0;
}

/* Table */
table {
  border: 1px dotted var(--dark-color);
  border-radius: 10px;
  border-spacing: 1px;
  min-width: 1025px;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid var(--light-color);
}

table th {
  background: var(--light-color);
  opacity: 0.5;
  border: 1px solid var(--dark-color);
}

table th:first-child{
  border-radius: 10px 0 0 0;
}

table th:last-child{
  border-radius: 0 10px 0 0;
}

.close {
  margin-left: 434px;
}

.close i {
  font-size: 2rem;
  color: var(--danger-color);
}

.close:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Pagination */
.pagination{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-pagination {
  margin: 3px 3px 3px 8px;
  background: var(--background-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.pagination input{
  width: 40px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--light-color);
}

/* Alerts */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 10px;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.alert i {
  padding-right: 8px;
}

/* Text Styles*/
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.p {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Buttons */
.btn-block {
  display: block;
  width: 100%;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
  border-radius: 5px;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
  border-radius: 5px;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

@keyframes rotate {
  to {
      transform: rotate(1turn)
  }
}

@keyframes down {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

@keyframes up {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}

/* Mobile Styles */
@media (max-width: 1035px) {
  table {
    min-width: 758px;
  }
}

@media (max-width: 768px) {
  
  /* Text Styles */
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2rem 0;
  }

  .navbar h1 {
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    display: block;
  }

  .navbar h1 img {
    margin-bottom: 1rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  /* Login */
  .login-main {
    margin-top: 5vh;
  }
}

@media (max-width: 500px) {

  /* Text Styles */
  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2rem 0;
  }

  .navbar h1 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
    display: block;
  }

  .navbar h1 img {
    margin-bottom: 0.75rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar ul li:nth-child(2){
    font-size: 1rem;
  }

  /* Login */
  .login-main {
    max-width: 350px;
    height: 350px;
    padding-bottom: 1rem;
  }
  
  .login-img {
    width: 50px;
    height: 50px;
  }
  
  .login-header {
    font-size: 1.8rem;
  }

  /* About */
  .about-main {
    max-width: 350px;
    height: 350px;
  }

  .about-main h4 {
    font-size: 1.2rem;
  }

  .about-info {
    margin: 0 5vh;
  }
  
  .about-main img {
    width: 130px;
    height: 130px;
  }
  
  .about-instruction {
    font-size: 0.85rem;
  }

  /* Forbidden */
  .forbidden-main h2 {
    font-size: 1rem;
  }
}