/* Font Styles */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

/* Global Styles */
:root {
  --primary-color: #f190dd;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #238636;
  --background-color: #0d1117;
  --link-color: #58a6ff;
  --border-color: #6e7681;
  --form-color: #6e7681;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--form-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.error {
  color: var(--danger-color);
  font-weight: 300;
}

.success {
  color: var(--success-color);
  border-radius: 10px;
}

/* Utilities */
.main-window {
  margin: auto;
  overflow: hidden;
  padding: 0 2% 3% 2%;
}

/* Spinner */
.loader {
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 5px solid rgba(189, 189, 189, 0.25);
  border-left-color: rgba(3, 155, 229, 1);
  border-top-color: rgba(3, 155, 229, 1);
  border-radius: 50%;
  animation: rotate 1500ms infinite ease;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  line-height: 1.2;
  box-shadow: 10px 5px 15px 5px rgba(177, 177, 177, 0.3);
  padding: 0.8rem 1.2rem;
}

.navbar .title {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.navbar img {
  height: 70px;
  width: 70px;
}

.navbar .sub-heading {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  color: var(--primary-color);
}

.navbar .fa-bars {
  display: none;
  margin-right: 1rem;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar > :nth-child(3) a {
  padding: 0.45rem;
  margin: 0 1rem 0 0.25rem;
  font-size: 1.1rem;
}

.navbar > :nth-child(3) a:hover {
  color: var(--light-color);
}

.navbar a.active {
  border-radius: 0.5rem;
  background-color: rgba(177, 177, 177, 0.25);
}

/* Login */
.login-main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 30px 20px 0px 20px;
  max-width: 400px;
  height: 380px;
  margin: auto;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  margin-top: 10vh;
}

.login-img {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.login-header {
  font-weight: 350;
  font-size: 2.1rem;
  color: var(--form-color);
}

.login-instruction {
  color: var(--link-color);
  font-size: 0.8rem;
}

/* Google OAuth */
.center {
  margin-left: auto;
  margin-right: auto;
}

.google-form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 1rem 1rem 1.2rem 1rem;
  width: 100%;
}

.abcRioButtonContentWrapper {
  background-color: var(--success-color);
}

/* About */
.about {
  margin: 6vh 0 4vh 0;
}

.about-info {
  color: white;
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.about-info span {
  font-size: 1.3rem;
  font-style: italic;
}

.about h1 {
  margin-top: 0.5rem;
  color: var(--primary-color);
  font-weight: 400;
}

.credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 10px 15px 10px;
}

.credit-main {
  padding: 20px 20px 0px 20px;
  width: 400px;
  min-height: 380px;
  margin: 10px 10px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

.credit-main img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border-color);
  margin: 0.7rem 0;
}

.credit-main h3 {
  color: var(--light-color);
}

.credit-main span {
  color: var(--primary-color);
  font-weight: 500;
  font-style: italic;
}

.credit-main h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

.about-instruction {
  color: var(--link-color);
  font-size: 1rem;
}

/* Forbidden */
.forbidden-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.forbidden-img {
  width: 100%;
  max-width: 700px;
  margin-bottom: 2rem;
}

.forbidden-main h2 {
  color: var(--danger-color);
  font-weight: 300;
}

/* Add Event */
.add-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh 0;
}

.add-event img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.add-event > h1:nth-child(2) {
  margin-bottom: 0;
}

.add-event > h1:nth-child(3) {
  margin: 3vh 0 20px 0;
  font-weight: 500;
}

.event-btn {
  display: inline-block;
  background: var(--background-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  margin: 0.75rem 1rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 20px;
}

.event-btn:hover {
  background: var(--light-color);
  color: var(--background-color);
}

.add-event span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-event a span i {
  margin-top: 5px;
}

/* Forms */
.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 450px;
  margin: 10vh auto;
  overflow: hidden;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.close {
  float: right;
  padding: 2px 5px;
  color: var(--background-color);
  cursor: pointer;
}

.form-container h1, h2, h3 {
  text-align: center;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group label {
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
  font-size: 1.2rem;
}

.form-group [readonly] {
  cursor: default;
  font-style: italic;
}

.form-group select, .form-group input[type = "text"] {
  display: block;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-top: 0.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Chivo', sans-serif;
}

.form-group input:focus {
  outline: none;
}

.form-group > button i {
  margin-top: 5px;
}

.sub-event-list {
  display: flex;
  justify-content: stretch;
}

.sub-event-list > input {
  width: 95%;
}

.sub-event-list > i {
  font-size: 1.5rem;
  margin: 0.7rem 0 0 0.5rem;
  cursor: pointer;
}


.form-group input[type = "submit"], 
button {
  font: inherit;
}

/* Filters */
.filters-container {
  background-color: aliceblue;
  color: black;
  box-shadow: 4px 4px 5px rgb(255 255 255 / 20%);
  width: 95vw;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0 20px;
  margin-bottom: 5vh;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.filter-container {
  margin: 1rem 0 0 0;
  overflow: hidden;
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.filter-container label {
  font-size: 0.9rem;
  font-weight: 500;
}

.filter-container input {
  min-width: 200px;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 2px 5px;
  font-size: 1.1rem;
  color: black;
  border-radius: 5px;
  background-color: var(--light-color);
  outline: none;
}

.filter-container select {
  padding: 2px;
  font-size: 14px;
  color: black;
  border-radius: 5px;
  background-color: var(--light-color);
  outline: none;
}

.filter-container > * {
  flex-grow: 1;
}

/* Table */
.table {
  overflow-x: auto;
}

.table::-webkit-scrollbar {
  height: 5px;
}

.table::-webkit-scrollbar-track {
  background-color: rgba(177, 177, 177, 0.3);
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-color);
}

table {
  border-radius: 10px;
  min-width: 1100px;
  border-collapse: collapse;
  background-color: rgba(177, 177, 177, 0.1);
}

table td {
  padding: 0.5rem 1rem;
  text-align: center;
  color: rgb(255 255 255 / 60%);
  font-weight: 330;
}

tbody td > i {
  padding-right: 3px !important;
}

table th {
  background-color: var(--light-color);
  padding: 0.5rem;
  text-align: left;
}

table tr th:first-child {
  border-top-left-radius: 10px;
}

table tr th:last-child {
  border-top-right-radius: 10px;
}

.close {
  margin-left: 434px;
}

.close i {
  font-size: 2rem;
  color: var(--danger-color);
}

.close:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Pagination */
.pagination {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.5rem 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  margin: 0 4px;
}

.btn-primary {
  background: var(--primary-color);
  color: #000;
}

.btn-pagination {
  display: inline-block;
  background: var(--background-color);
  color: var(--light-color);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: 1px solid var(--primary-color);
  margin: 6px;
}

.pagination input {
  width: 40px;
  text-align: center;
  background-color: var(--background-color);
  color: var(--light-color);
}

/* Alerts */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}

.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.alert i {
  padding-right: 8px;
}

/* Text Styles*/
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.p {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-primary {
  color: var(--primary-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Buttons */
.btn-block {
  display: block;
  width: 100%;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
  border-radius: 5px;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
  border-radius: 5px;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.fa {
  margin: 0;
  padding: 0;
}

/* Animation (Add After) */
.fade {
  transform: translateX(-190px);
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

@keyframes down {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}

@keyframes up {
  from {
    height: 150px;
  }
  to {
    height: 0px;
  }
}

/* Mobile Styles */
@media (max-width: 1200px) {
  /* Navbar */
  .fa.fa-bars.btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.6rem !important;
    color: var(--light-color);
    font-size: 1.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
    outline: none;
    margin: 0 8px;
  }

  .navbar ul {
    transition: transform 0.5s;
    flex-direction: column;
    width: auto;
    background-color: black;
    position: fixed;
    top: 0;
    padding-top: 10%;
    height: 100vh;
    padding-left: 10px;
    right: -200px;
  }

  .navbar li {
    padding: 1rem 0.8rem 1rem 0.5rem;
  }

  /* Table */
  table {
    min-width: 800px;
  }

  td i {
    padding-right: 4px;
  }

  /* Pagination */
  .btn {
    padding: 0.2rem 0.6rem !important;
  }

  .btn-pagination {
    padding: 0.2rem 0.6rem !important;
  }
}

@media (max-width: 768px) {
  /* Text Styles */
  .large {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar .title {
    font-size: 1.5rem;
  }

  .small {
    font-size: 1rem;
  }

  .navbar img {
    width: 60px;
    height: 60px;
  }

  .fa.fa-bars.btn {
    padding: 0.5rem !important;
    font-size: 1.5rem;
    margin: 0 6px;
  }

  /* About */
  .about-info {
    font-size: 1rem;
  }

  /* Table */
  tr, td {
    font-size: 0.85rem;
  }

  /* Pagination */
  .pagination {
    margin: 10px;
  }

  .pagination span:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 650px) {
  /* Text Styles */
  .large {
    font-size: 1.7rem;
  }

  .lead {
    font-size: 0.7rem;
  }

  /* Navbar */
  .navbar .title {
    font-size: 1.3rem;
  }

  .small {
    font-size: 0.8rem;
  }

  .navbar img {
    height: 50px;
    width: 50px;
  }

  .navbar li a {
    font-size: 0.8rem !important;
  }

  /* Login */
  .login-main {
    max-width: 350px;
    height: 350px;
    padding-bottom: 1rem;
    margin-bottom: 10vh;
  }

  .login-img {
    width: 50px;
    height: 50px;
  }

  .login-header {
    font-size: 1.8rem;
  }

  /* About */
  .about-info {
    font-size: 0.8rem;
    padding: 0 10px;
  }
  
  .about h1 {
    font-size: 1.7rem;
  }

  .about-instruction {
    font-size: 0.85rem;
  }

  /* Forbidden */
  .forbidden-main h2 {
    font-size: 1rem;
  }

  /* Forms */
  .form-container {
    max-width: 380px;
  }

  .form-container > h1 {
    font-size: 1.5rem;
  }

  .fa.fa-times-circle {
    font-size: 1.5rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  /* Event */
  .add-event img {
    width: 100px !important;
    height: 100px !important;
  }

  .add-event h1:nth-child(3) {
    font-size: 1.5rem;
  }

  .event-btn {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 550px) {
  /* Navbar */
  .navbar {
    padding: 0.8rem;
  }

  .navbar .title {
    font-size: 1.1rem;
  }

  .small {
    font-size: 0.6rem;
  }

  .navbar .sub-heading {
    padding-left: 0.5rem;
  }

  .navbar img {
    width: 40px;
    height: 40px;
  }

  .fa.fa-bars.btn {
    padding: 0.5rem !important;
    font-size: 0.8rem;
    margin: 0 2px 0 6px;
  }

  .navbar li a {
    font-size: 0.7rem !important;
  }

  /* Login */
  .login-instruction {
    font-size: 0.7rem;
  }

  /* Google OAuth */
  .abcRioButtonContents span {
    font-size: 12px;
  }

  /* About */
  .about-main:nth-child(2) {
    padding: 0 1px;
  }

  .credit-main {
    padding: 20px 10px 0px 10px;
    width: 400px;
  }

  .about-main h4 {
    font-size: 0.8rem;
  }

  .about-instruction {
    font-size: 0.7rem;
  }
}

@media (max-width: 390px) {
  /* Navbar */
  .navbar {
    padding: 0.6rem;
  }

  .navbar .title {
    margin: 0;
    font-size: 0.9rem;
  }

  .navbar .sub-heading {
    padding-left: 0.2rem !important;
  }

  .small {
    font-size: 0.45rem;
  }

  .navbar img {
    max-width: 30px;
    max-height: 30px;
  }

  /* Google OAuth */
  .abcRioButtonContents span {
    font-size: 8px;
  }

  /* Events */
  .diff-events {
    display: flex;
    flex-direction: column;
  }
}